@font-face {
    font-family: 'Helvetica Neue';
    src: url("/fonts/HelveticaNeue.ttf") format('truetype'),
}

body {
    width: 100%;
    height: 100%;
    background-color: #E8E8E8;
}

.header {
    margin-top: 224px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.header .text {
    margin-left: 10px;
    margin-right: 10px;
}

.add-card {
    display: flex;
    align-items: center;
    margin-right: 300px;
    margin-top: 56px;
    margin-left: 15px;
}

#flash-card {
    height: 43px;
    width: 196px;
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 36px;
    font-weight: 700;
    letter-spacing: NaNpx;
    line-height: 42px;
}

#add-card-icon {
    height: 39px;
    width: 39px;
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 29px;
    font-weight: 700;
    text-align: center;
}

#add-card-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card-element {
    margin-top: 27px;
    margin-bottom: 50px;
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    margin-left: 15px;
}

#remove-card {
    height: 29px;
    width: 29px;
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    margin-right: 13px;
}

#remove-card:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#cross-icon {
    text-align: center;
    padding-top: 3px;
    margin-left: 5px;
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: NaNpx;
    line-height: 21px;
    transform: rotate(45deg);
}

#card-label {
    height: 28px;
    width: 150px;
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 24px;
    font-weight: 700;
    letter-spacing: NaNpx;
    line-height: 28px;
}

.black-card {
    height: 350px;
    width: 250px;
    border-radius: 15px;
    background-color: #000;
    box-shadow: 0 2px 4px 0;
}

.black-card textarea {
    border: none;
    background-color: black;
    height: 261px;
    width: 192px;
    color: white;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: NaNpx;
    line-height: 32px;
    margin-left: 29px;
    margin-top: 26px;
    margin-right: 29px;
    resize: none
}

.black-card textarea::placeholder {
    color: #787878;
    font-family: "Helvetica Neue";
}

.black-card footer {
    height: 9px;
    width: 90px;
    color: #FFF;
    font-family: "Helvetica Neue";
    font-size: 8px;
    font-weight: 700;
    letter-spacing: NaNpx;
    line-height: 9px;
    margin-left: 29px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-right: 500px;
}


.white-card {
    height: 350px;
    width: 250px;
    border-radius: 15px;
    background-color: #FFF;
    box-shadow: 0 2px 4px 0;
}

.white-card textarea {
    border: none;
    background-color: #FFF;
    height: 261px;
    width: 192px;
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 21px;
    font-weight: 700;
    letter-spacing: NaNpx;
    line-height: 32px;
    margin-left: 29px;
    margin-top: 26px;
    margin-right: 29px;
    resize: none
}

.black-card textarea::placeholder {
    color: #787878;
    font-family: "Helvetica Neue";
}

.white-card footer {
    height: 9px;
    width: 90px;
    color: black;
    font-family: "Helvetica Neue";
    font-size: 8px;
    font-weight: 700;
    letter-spacing: NaNpx;
    line-height: 9px;
    margin-left: 29px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-right: 500px;
}

.cards {
    display: flex;
}

.cards div {
    margin-left: 12px;
    margin-right: 12px;
}

#next-button {
    width: 70px;
    height: 70px;
    background-color: #000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    margin-bottom: 20px;
    margin-right: 25px;

}

#next-button-text {
    color: white;
    font-family: "Helvetica Neue";
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    padding-top: 23px;
}

#next-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

a {
    text-decoration: none;
}