.quiz-header {
    margin-top: 115px;
    text-align: center;
    font-family: "Helvetica Neue";
    transform: scale(0.8);
}

#quiz-name {
    height: 42px;
    color: #000;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: NaNpx;
    line-height: 42px;
}

#quiz-subject {
    height: 42px;
    color: #787878;
    font-family: "Helvetica Neue";
    font-size: 36px;
    font-weight: 700;
    letter-spacing: NaNpx;
    line-height: 42px;
}

#quiz-author {
    height: 25px;
    color: #787878;
    font-family: "Helvetica Neue";
    font-size: 21px;
    font-weight: 700;
    letter-spacing: NaNpx;
    line-height: 25px;
}

.quiz-area {
    font-family: "Helvetica Neue";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card-tracker {
    height: 35px;
    width: 200px;
    color: #000;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: NaNpx;
    line-height: 35px;

    margin-right: 340px;
}

.questions {
    display: flex;
}

.questions>div {
    margin-right: 23px;
    margin-top: 18px;
}

.response-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#guessed-icon {
    background-image: url("/assets/guessedicon.png");
    background-size: 29px;
    width: 29px;
    height: 29px;
    margin: 7px 11px 0 13px;
}

#guessed-button {
    width: 160px;
    height: 42px;
    background-color: #000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-right: 20px;
    font-family: "Helvetica Neue";
    font-size: 24px;
    font-weight: 700;
    color: black;
    display: flex
}

#guessed-button-text {
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin: 8px 0 0 0px;
}

#knew-icon {
    background-image: url("/assets/knewicon.png");
    background-size: 29px;
    width: 29px;
    height: 29px;
    margin: 7px 15px 0 13px;
}

#knew-button {
    width: 160px;
    height: 42px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-right: 22px;
    font-family: "Helvetica Neue";
    font-size: 24px;
    font-weight: 700;
    color: black;
    display: flex
}

#knew-button-text {
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin: 8px 0 0 0px;
}



.tip {
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: 700;
    color: #52525291;
    margin: 8px 0 0 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}