body {
    background-color: rgb(232, 232, 232);
    width: 100%;
    height: 100%;
}

.main-body {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.navigation {
    margin-top: 150px;
    width: 470px;
    display: flex;
    align-items: center;
    font-family: "Helvetica Neue";
}

.navigation a{
    text-decoration: underline;
}

#back-nav{
    font-weight: 700;
    color: #757575
}

a:hover{
    transform: scale(1.1)
}

.title {
    height: 42px;
    width: 180px;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: NaNpx;
    line-height: 42px;
    font-family: "Helvetica Neue";
}

.input {
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 16px;
    letter-spacing: NaNpx;
    line-height: 42px;
    display: flex;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-weight: 700;
    padding: 5px 0px;
}

input::placeholder {
    color: grey;
}

#status {
    margin-top: 10px;
    height: 79px;
    width: 523px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

#pagetitle {
    text-align: center;
    width: 82%;
    font-size: 25px;
}

#Form {
    display: flex;
    flex-direction: column;
}

.statustext {
    color: #FFF;
    font-family: "Helvetica Neue";
    font-size: 30px;
    font-weight: 700;
    letter-spacing: NaNpx;
    line-height: 42px;
}

.dots {
    height: auto;
    width: auto;
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 48px;
    font-weight: 700;
    letter-spacing: NaNpx;
    display: flex;
}

.circle {
    width: 54px;
    height: 54px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 22, 22, 0.7);
}

.selected {
    background-color: black;
}

.numbers {
    display: flex;
}

#Title {
    margin-top: 30px;
    display: flex;
}

#Subject,
#Description {
    margin-top: 12px;
    display: flex;
}

#titlebox,
#subjectbox,
#descripbox,
#searchbox {
    height: 35px;
    width: 500px;
    padding-left: 15px;
    border-radius: 9px;
    font-family: "Helvetica Neue";
}

/*actual button*/
#submitBtn { 
    width: 132px;
    height: 54px;
    margin-top: 24px;
    margin-bottom: 100px;
    border-radius: 9px;
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #FFF;
}

/*button container (sorry for the bad naming HAHA)*/
.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/***************************************    SEARCH CCS     **************************************** */

#SearchForm {
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#searchbox {
    margin-top: 48px;
    width: 95%;
}

#searchsubtitle {
    text-align: center;
    width: 440px;
    height: 100%;
    font-size: 22px;
    color: #787878;
    line-height: 30px;
}

#searchResultContainer {
    width: 532px;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.searchResult {
    width: 72%;
    height: 210px;
    background-color: #FFF;
    padding-left: 15px;
    border-radius: 9px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 26px;
    margin-bottom: 30px;
}

.searchResultTitle {
    height: 35px;
    width: 80%;
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 25px;
    font-weight: 700;
    display: flex;
}

.searchResultUpInfo {
    width: 80%;
    height: 25px;
    font-size: 18px;
    color: #787878;
    font-family: "Helvetica Neue";
    font-weight: 700;
    display: flex;
}

.searchResultDownInfo {
    color: #000;
}

.searchResult-Btns {
    width: 132px;
    height: 54px;
    border-radius: 9px;
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #FFF;
    display: flex;
}

#topResult {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

#botResult {
    display: flex;
    width: 100%;
    height: 50%;
}

#botInfo {
    margin-top: 55px;
    float: left;
    width: 80%;
    height: 100%;
}

#buttonsResult {
    float: right;
    display: flex;
    flex-direction: column;
}

#pinBtn {
    background-color: #FFF;
    color: #000;
}

#pinIcon {
    height: 24px;
    width: 12px;
    padding-top: 6px;
    padding-right: 10px;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

/***************************************    PUBLISH QUIZ CCS     **************************************** */

#PublishForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#publishContainer {
    width: 432px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 9px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 50px 26px 26px;
    margin-bottom: 100px;
}

#almostDne {
    margin-top: 30px;
    margin-left: -300px;
    font-size: 22px;
}

#publish-alert {
    color: #787878;
    width: 100%;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

#publishQtitle {
    color: #000;
    width: 100%;
    font-size: 24px;
    display: flex;
    text-align: center;
    justify-content: center;
}

#privacySet {
    width: 100%;
    font-size: 18px;
    margin-top: 45px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.radios {
    width: 100%;
}

input[type="radio"] {
    margin-right: 20px;
}

.publish {
    margin-top: 25px;
    margin-bottom: -50px;
}

#radioContainer {
    padding-left: 10%;
    width: 100%;
}

#createQuiz{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

#createQ{
    justify-content: center;
    text-align: center;
    width: 140px;
}

/***************************************   QUIZZES CCS     **************************************** */
#myQuizContainer, #pinnedQuizContainer{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.mypinLabels{
    font-size: 23px;
    width: 100%;
    padding-left: 90px;
}

/***************************************   EDIT PROFILE CCS     **************************************** */
.editProfileLabels{
    font-size: 16px;
    height: 35px;
    width: 100%;
}

#editProfileCancel{
    width: 132px;
    height: 54px;
    margin-top: 24px;
    margin-bottom: 100px;
    border-radius: 9px;
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    color: #000;
    margin-right: 20px;
}

#editProfileContainer{
    margin-top: 40px;
    margin-bottom: 40px;
}

#editProfileButtonContainer{
    margin-top: 5px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}

.editProfileInput{
    width: 433px;
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 16px;
    letter-spacing: NaNpx;
    line-height: 42px;
    display: flex;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-weight: 700;
    padding: 5px 0px;
    border-radius: 9px;
    padding-left: 15px;
}








