@font-face {
    font-family: 'Helvetica Neue';
    src: url(/assets/fonts/HelveticaNeue.ttf) format('truetype'),
}

.edit-descriptions {
    margin-top: 150px;
    font-family: "Helvetica Neue";
}

#edit-quiz {
    height: 42px;
    width: 165px;
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 36px;
    font-weight: 700;
    letter-spacing: NaNpx;
    line-height: 42px;
    margin-bottom: 20px;
}

.edit-descriptions #radioContainer {
    background-color: #fff;
    border-radius: 9px;
    height: 101px;
    width: 485px;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 12px 3px 0 25px;
}

.decision-button {
    display: flex;
    margin-bottom: 100px;
}

.circle-button {
    width: 100px;
    height: 45px;
    background-color: #000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-right: 25px;
}

#cancel-button-text {
    color: black;
    font-family: "Helvetica Neue";
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
}

#cancel-button {
    background-color: #fff;
}

#save-button {
    color: white;
    font-family: "Helvetica Neue";
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-right: 10px;
    border: none
}


#save-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#delete-div:hover {
    transform: scale(1.1);
    cursor: pointer;
}

button:focus {
    outline: none
}

.delete-button {
    color: black;
    font-family: "Helvetica Neue";
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
}

#delete-div {
    background-color: rgb(230, 0, 0);
    width: 90px;
    height: 40px;
    border-radius: 9px;
    margin-left: 257px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

#tagPin {
    color: white;
    padding-top: 7px;
    padding-right: 15px;
}

.deleteform {
    width: 480px;
    background-color: #FFF;
    padding-left: 15px;
    border-radius: 9px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 26px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.body {
    display: flex;
    justify-content: center;
}

#deleteformid {
    display: none;
    justify-content: center;
    margin-top: 200px;
}

#confirmBtn {
    background-color: rgb(230, 0, 0);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.edit-header {
    display: flex;
}