#edit-button {
    width: 88px;
    height: 54px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-right: 40px;
    font-family: "Helvetica Neue";
    font-size: 24px;
    font-weight: 700;
    color: black;
}

#edit-button-text {
    font-family: "Helvetica Neue";
    font-size: 24px;
    font-weight: 700;
    color: black;
    margin: 12px 0 0 19px;
}

#logout-button {
    width: 112px;
    height: 54px;
    background-color: #000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

#logout-button-text {
    color: #fff;
    font-family: "Helvetica Neue";
    font-size: 24px;
    font-weight: 700;
    margin: 12px 0 0 15px;
}

.profile-buttons {
    display: flex;
    margin-top: 73px;
    justify-content: center
}

#avatar {
    background-image: url("/assets/avatar.png");
    height: 99px;
    width: 77.14px;
    background-position: -15px -13px;
    margin-top: 127px;
}

.profile-contents {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#introduction {
    height: 42px;
    width: 378px;
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 25px;
    font-weight: 700;
    line-height: 42px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

#name {
    height: 42px;
    width: 209px;
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 36px;
    font-weight: 700;
    letter-spacing: NaNpx;
    line-height: 42px;
    margin-top: 27px;
    text-align: center;
}

#username {
    height: 28px;
    width: 97px;
    color: #787878;
    font-family: "Helvetica Neue";
    font-size: 24px;
    font-weight: 700;
    letter-spacing: NaNpx;
    line-height: 28px;
    margin-top: 7px;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

a:hover {
    transform: scale(1.1);
    cursor: pointer;
}