body{
    background-color: rgb(232,232,232)
}

.main-body{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title{
    height: 42px;
    width: 180px;
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: NaNpx;
    line-height: 42px;
}

.input{
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 16px;
    letter-spacing: NaNpx;
    line-height: 42px;
    display: flex;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-weight: 700;
    padding: 5px 0px;
}

input::placeholder{
    color: grey;
}

#status{
    margin-top: 10px;
    height: 79px;
    width: 523px;
    display:flex;
    flex-direction:row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

#pagetitle{
    margin-top: 130px;
    font-size: 25px;
    display: flex;
}

#Form{
    display: flex;
    flex-direction: column;
}

.statustext{
    color: #FFF;
    font-family: "Helvetica Neue";
    font-size: 30px;
    font-weight: 700;
    letter-spacing: NaNpx;
    line-height: 42px;
}

.dots{
    height: auto;
    width: auto;
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 48px;
    font-weight: 700;
    letter-spacing: NaNpx;
    display: flex;
}

.circle{
    width: 54px;
    height: 54px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers{
    display: flex;
}

#oneCircle{
    background-color: #000;
}

#twoCircle, #threeCircle{
    background-color: rgba(22,22,22,0.7);
}

#Title{
    margin-top: 30px;
    display: flex;
}

#Subject, #Description{
    margin-top: 12px;
    display: flex;
}

#titlebox, #subjectbox, #descripbox{
    height: 35px;
    width: 500px;
    border-radius: 9px;
    padding-left: 15px;
    font-family: "Helvetica Neue";
    display: flex;
}

#submitBtn{
    width: 132px;
    height: 54px;
    margin-top: 24px;
    border-radius: 9px;
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #FFF;
}

.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}