<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/ico" href="assets/favico.ico">
    <link rel="stylesheet" href="../style/navbar.css">

    <title>About</title>
</head>

<body>
    <div class=" navbar sticky">
        <span>
            <a href="/"> <img src="../assets/Logo.png" class="logo"> </a>
        </span>

        <span class="tab-list">
            <a class="nav-tab" href="/home">Home</a>
            <a class="nav-tab" href="/search">Search</a>
            <a class="nav-tab" href="/quiz">Quiz</a>
            <a class="nav-tab" href="/user">Profile</a>
        </span>
    </div>



    <div class="packageName">
        <h1>NPM Packages:</h1>
        <p>
            Body-parser <br>
            Cookie-parser <br>
            Express <br>
            Express-session <br>
            hbs <br>
            Mongoose <br>
            Mongoose-unique-validator <br>
            nodemon <br>
            crypto <br>
        </p>
    </div>

    <div class="packageName">
        <h1>3rd Party Libraries:</h1>
        <p>
            jQuery <br>
        </p>
    </div>

    <style>
        .packageName {
            font-family: 'Helvetica Neue';
            text-align: center
        }

        p {
            font-size: 30px;
        }

        body {
            background-color: #E8E8E8;
            margin-top: 160px;
        }
    </style>
</body>

</html>