<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/ico" href="../assets/favico.ico">
    <link rel="stylesheet" href="../style/add-card.css">
    <link rel="stylesheet" href="../style/navbar.css">
    <link rel="stylesheet" href="../style/create-quiz.css">
    <link rel="stylesheet" href="../style/edit-quiz.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/add-flash-cards.js"></script>
    <title>Edit Quiz</title>
</head>

<body>
    <div class="navbar sticky">
        <span>
            <a href="/home"> <img src="../assets/Logo.png" class="logo"> </a>
        </span>

        <span class="tab-list">
            <a class="nav-tab" href="/home">Home</a>
            <a class="nav-tab" href="/search">Search</a>
            <a class="nav-tab selected" href="/quiz">Quiz</a>
            <a class="nav-tab" href="/user">Profile</a>
        </span>
    </div>

    <div class="main-body">
        <div class="edit-descriptions">
            <div id="edit-quiz">Edit Quiz</div>
            <form id="Form">
                <div id="Title" class="title"> Title </div>
                <input id="titlebox" type="text" class="input" placeholder="Ex. Operating Systems">
                <div id="Subject" class="title"> Subject </div>
                <input id="subjectbox" type="text" class="input" placeholder="Ex. INTR-OS">
                <div id="Description" class="title"> Description </div>
                <input id="descripbox" type="text" class="input" placeholder="Ex. Chapters 1-5 Reviewer for Midterms">
                <br>
                <div class="title">Privacy</div>
                <div id="radioContainer">
                    <div class="title radios"><input type="radio" name="privacy" checked>Public: Share my quiz with
                        others!</div>
                    <div class="title radios"><input type="radio" name="privacy">Private: Only I can access this quiz!
                    </div><br>
                </div>
            </form>
        </div>

        <div class="add-card">
            <div id="flash-card">Flash Card</div>
            <a href="" id="add-card-icon">+</a>
        </div>

        <div id="card-container">

            {{!--
            <div class="card-element">
                <div class="card-header">
                    <a href="" id="remove-card">
                        <div id="cross-icon">+</div>
                    </a>
                    <div id="card-label">Flashcard 1</div>
                </div>
                <div class="cards">
                    <div class="black-card">
                        <textarea type="text" placeholder="Enter Question Here"></textarea>
                        <footer>
                            <p>Cards Against Stupidity</p>
                        </footer>
                    </div>

                    <div class="white-card">
                        <textarea type="text" placeholder="Enter Question Here"></textarea>
                        <footer>
                            <p>Cards Against Stupidity</p>
                        </footer>
                    </div>
                </div>
            </div>--}}
        </div>



        <div class="decision-button">
            <a href="/quiz" class="circle-button" id="cancel-button">
                <div id="cancel-button-text">CANCEL</div>
            </a>

            <a href="/quiz" class="circle-button">
                <div id="save-button-text">SAVE</div>
            </a>
        </div>

    </div>
</body>

</html>