<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/ico" href="../assets/favico.ico">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="../style/create-quiz.css">
    <link rel="stylesheet" href="../style/navbar.css">
</head>

<body>

    <div class=" navbar sticky">
        <span>
            <a href="/home"> <img src="../assets/Logo.png" class="logo"> </a>
        </span>

        <span class="tab-list">
            <a class="nav-tab" href="/home">Home</a>
            <a class="nav-tab" href="/search">Search</a>
            <a class="nav-tab" href="/quiz">Quiz</a>
            <a class="nav-tab selected" href="/profile">Profile</a>
        </span>
    </div>

    <div class="main-body">

        <div id="pagetitle" class="title"> Edit Profile </div>
        <form id="SearchForm" action="/profile">

            <div id="pagetitle" class="title"> Edit Profile </div>

            <div id="editProfileContainer">
                <div class="title editProfileLabels">Old Password</div>
                <input type="password" class="input editProfileInput" placeholder="Old Password" name="oldpassword">
                <div class="title editProfileLabels">New Password</div>
                <input type="password" class="input editProfileInput" placeholder="New Password" name="newpassword">
            </div>

            <div id="editProfileButtonContainer">
                <div class="submit"><a id="editProfileCancel" href="/profile"> Cancel </a>
                    <div class="submit"><input id="submitBtn" type="submit" value="Confirm"></div>
                </div>
        </form>
    </div>

</body>

</html>