<html>

<head>
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/landing.css">

</head>

<body>


    <div class=" navbar sticky">
        <span>
            <img src="assets/Logo.png" class="logo">
        </span>

        <span class="tab-list">
            <a class="nav-tab selected" href="">Home</a>
            <a class="nav-tab" href="">Search</a>
            <a class="nav-tab" href="">Quiz</a>
            <a class="nav-tab" href="">Profile</a>
        </span>
    </div>



    <div class="main-page">

        <span class=heading-wrapper>
            <div class="main-heading">
                Cards <br>
                Against <br>
                Stupidity <br>
            </div>
            <div class="headline">
                Flashcards for Dummies.
            </div>
        </span>

        <span class="heading-pic">
            <img src="assets/bigcards.png" class="bigcards">
            <span>

    </div>

</body>

</html>