<!DOCTYPE html>
<html lang="en">

<head>
    <title>Take Quiz</title>
    <link rel="stylesheet" href="../style/create-quiz.css">
    <link rel="stylesheet" href="../style/navbar.css">
    <link rel="icon" type="image/ico" href="../assets/favico.ico">
</head>

<body>

    <div class=" navbar sticky">
        <span>
            <a href="/home"> <img src="../assets/Logo.png" class="logo"> </a>
        </span>

        <span class="tab-list">
            <a class="nav-tab" href="/home">Home</a>
            <a class="nav-tab" href="/search">Search</a>
            <a class="nav-tab selected" href="/quizzes">Quiz</a>
            <a class="nav-tab" href="/profile">Profile</a>
        </span>
    </div>

    <div class="main-body">

        <div id="searchResultContainer" class="prestartContainer">
            <div class="searchResult prestartForm">
                <div id="topPrestart">
                    <div class="searchResultTitle">Title</div>
                    <div class="searchResultUpInfo">Subject</div>
                    <div class="searchResultUpInfo prestartDescrip">Description</div>
                </div>

                <div id="middlePrestart">
                    <div class="centerContentPrestart flashcrd"># Flashcards</div>
                    <div class="centerContentPrestart">By: </div>
                    <div id="mid-botContainer">
                        <div class="centerContentPrestart timerLabel">Timer: </div>
                        <input type="number" class="cardTimer" placeholder="0" min="0" max="60">
                        <div class="centerContentPrestart timerLabel">seconds</div>
                    </div>
                </div>

                <div id="botPrestart">
                    <div class="prestartBtnContainer">
                        <a id="pinBtn" class="searchResult-Btns prestartBtns">
                            <span>
                                <img id="pinIcon" src="../assets/pin.png">
                            </span>
                            Pin Quiz
                        </a>
                        <br>
                        <a class="searchResult-Btns prestartBtns" href="/quiz/active_quiz">Take Quiz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>