<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/ico" href="assets/favico.ico">
    <link rel="stylesheet" href="../style/add-card.css">
    <link rel="stylesheet" href="../style/navbar.css">
    <link rel="stylesheet" href="../style/profile.css">

    <title>My Profile</title>
</head>

<body>
    <div class=" navbar sticky">
        <span>
            <a href="/home"> <img src="../assets/Logo.png" class="logo"> </a>
        </span>

        <span class="tab-list">
            <a class="nav-tab" href="/home">Home</a>
            <a class="nav-tab" href="/search">Search</a>
            <a class="nav-tab" href="/quiz">Quiz</a>
            <a class="nav-tab selected" href="/user">Profile</a>
        </span>
    </div>

    <div class="profile-contents">
        <div id="introduction">My Profile</div>
        <div id="avatar"></div>
        <div id="name">{{username}}</div>
    </div>

    <div class="profile-buttons">
        <a href="/user/edit_profile" id="edit-button">
            <div id="edit-button-text">Edit</div>
        </a>

        <a href="/logout" id="logout-button">
            <div id="logout-button-text">Logout</div>
        </a>

    </div>
</body>

</html>