<!DOCTYPE html>
<html lang="en">

<head>
    <title>Results</title>
    <link rel="stylesheet" href="../style/create-quiz.css">
    <link rel="stylesheet" href="../style/navbar.css">
    <link rel="icon" type="image/ico" href="/assets/favico.ico">
</head>

<body>

    <div class=" navbar sticky">
        <span>
            <a href="/home"> <img src="../assets/Logo.png" class="logo"> </a>
        </span>

        <span class="tab-list">
            <a class="nav-tab" href="/home">Home</a>
            <a class="nav-tab" href="/search">Search</a>
            <a class="nav-tab selected" href="/quizzes">Quiz</a>
            <a class="nav-tab" href="/user">Profile</a>
        </span>
    </div>

    <div class="main-body">

        <div id="pagetitle" class="title resultsPageTitle"> Results </div>

        <div id="searchResultContainer" class="prestartContainer">

            <div class="searchResult resultForm">
                <div id="middlePrestart">
                    <div class="centerContentPrestart resultLabels">You got</div>
                    <div class="centerContentPrestart resultLabels flashcrd resultScore">#</div>
                    <div class="centerContentPrestart resultLabels">correct answers!</div>
                </div>

                <div id="botPrestart" class="resultBtnGang">
                    <div class="prestartBtnContainer">
                        <a class="searchResult-Btns prestartBtns resultEndBtn" href="/quiz">End</a>
                        <br>
                        <a class="searchResult-Btns prestartBtns" href="/quiz/active_quiz">Try Again</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>