<!DOCTYPE html>
<html lang="en">

<head>
    <title>Search</title>
    <link rel="icon" type="image/ico" href="../assets/favico.ico">
    <link rel="stylesheet" href="../style/create-quiz.css">
    <link rel="stylesheet" href="../style/navbar.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/search-quiz.js"></script>
</head>

<body>

    <div class=" navbar sticky">
        <span>
            <a href="/home"> <img src="../assets/Logo.png" class="logo"> </a>
        </span>

        <span class="tab-list">
            <a class="nav-tab" href="/home">Home</a>
            <a class="nav-tab selected" href="/search">Search</a>
            <a class="nav-tab" href="/quiz">Quiz</a>
            <a class="nav-tab" href="/user">Profile</a>
        </span>
    </div>

    <div class="main-body">

        <form id="SearchForm">
            <div id="pagetitle" class="title"> Search Quizzes </div>
            <div id="searchsubtitle" class="title"> Enter any keyword that describes what you're looking for</div>

            <input id="searchbox" type="text" class="input" placeholder="Ex. INTR-OS" name="keyword">
            <div class="error-box" id="error-div">
                <ul id="error-messages">
                </ul>
            </div>
            <div class="submit"><input id="submitBtn" type="submit" value="Search"></div>

        </form>

        <div id="searchResultContainer">
            {{!-- 
            <div class="searchResult">
                <div id="topResult">
                    <div class="searchResultTitle">Title</div>
                    <div class="searchResultUpInfo">Subject</div>
                    <div class="searchResultUpInfo">Description</div>
                </div>

                <div id="botResult">
                    <div id="botInfo">
                        <div class="searchResultUpInfo searchResultDownInfo"># Flashcards</div>
                        <div class="searchResultUpInfo">By: </div>
                    </div>

                    <div id="buttonsResult">
                        <a id="pinBtn" class="searchResult-Btns">
                            <span>
                                <img id="pinIcon" src="../assets/pin.png">
                            </span>
                            Pin Quiz
                        </a>
                        <br>
                        <a class="searchResult-Btns" href="/quiz/pre_start">Take Quiz</a>
                    </div>

                </div>
            </div>
            --}}
        </div>

        {{!-- <form action="/quiz/pin_quiz" id="hiddenPinForm">
            <input type="hidden" name="id" id="searchid">
        </form> --}}

        {{!-- <form action="/quiz/unpin_quiz" id="hiddenUnpinForm">
            <input type="hidden" name="id" id="unpinid">
        </form>

        <form action="/quiz/edit_quiz" id="hiddenEditForm">
            <input type="hidden" name="id" id="editid">
        </form>

        <form action="/quiz/take_quiz" id="hiddenTakeForm">
            <input type="hidden" name="id" id="takeid">
        </form> --}}
    </div>

</body>

</html>