<!DOCTYPE html>
<html lang="en">

<head>
    <title>Take Quiz</title>
    <link rel="stylesheet" href="../style/create-quiz.css">
    <link rel="stylesheet" href="../style/answer-quiz.css">
    <link rel="stylesheet" href="../style/navbar.css">
    <link rel="stylesheet" href="../style/add-card.css">
    <link rel="icon" type="image/ico" href="../assets/favico.ico">

    <script src="../js/jquery.min.js"></script>
    <script src="../js/take-quiz.js"></script>

</head>

<body>

    <div class=" navbar sticky">
        <span>
            <a href="/home"> <img src="../assets/Logo.png" class="logo"> </a>
        </span>

        <span class="tab-list">
            <a class="nav-tab" href="/home">Home</a>
            <a class="nav-tab" href="/search">Search</a>
            <a class="nav-tab selected" href="/quiz">Quiz</a>
            <a class="nav-tab" href="/user">Profile</a>
        </span>
    </div>

    <div class="main-body" id="mainQuiz" data-id="{{quizID}}">

        <div id="preStartContainer" class="prestartContainer">
            <form id="takeQuizForm" class="mainForm">
                <div class=" preStartDisplay prestartForm">
                    <div id="topPrestart">
                        <div class="searchResultTitle centered" id="qTitle">Title</div>
                        <div class="searchResultUpInfo centered" id="qTubject">Subject</div>
                        <div class="searchResultUpInfo prestartDescrip centered" id="qDescription">Description</div>
                    </div>

                    <div id="middlePrestart">
                        <div id="mid-botContainer">
                            <div class="centerContentPrestart timerLabel">Timer: </div>
                            <input type="number" class="cardTimer" placeholder="0" min="0" max="60" id="timerCount">
                            <div class="centerContentPrestart timerLabel">seconds</div>
                        </div>
                    </div>

                    <div id="botPrestart">
                        <div class="prestartBtnContainer">
                            <input type="submit" class="searchResult-Btns prestartBtns" value="Take Quiz"></input>
                        </div>
                        <div class="footerContentPrestart">
                            <div class="footerInfo flashcrd" id="qNumberFlashcards"># Flashcards</div>
                            <div class="footerInfo" id="qAuthor">By: </div>
                        </div>

                    </div>
            </form>
        </div>
    </div>

    <div id="mainQuizContainer">
        <div class="quiz-header">
            <div id="quiz-name">Midterms Review</div>
            <div id="quiz-subject">INTR-OS</div>
            <div id="quiz-author">by Denzel Co</div>
        </div>

        <div class="quiz-area">
            <div id="card-tracker"></div>
            <div class="questions">
                <div class="black-card">
                    <textarea readonly id="questionArea"></textarea>
                    <footer>
                        <p>Cards Against Stupidity</p>
                    </footer>
                </div>

                <div class="white-card">
                    <textarea readonly id="answerArea"></textarea>
                    <footer>
                        <p>Cards Against Stupidity</p>
                    </footer>
                </div>
            </div>

            <div class="response-button">
                <a id="guessed-button">
                    <div id="guessed-icon"></div>
                    <div id="guessed-button-text">I guessed</div>
                </a>

                <a id="knew-button">
                    <div id="knew-icon"></div>
                    <div id="knew-button-text">I knew it</div>
                </a>
            </div>

            <p class="tip"> Keyboard Controls: <br> I guessed:   A / G <br> I knew it:   D / K</p>
        </div>
    </div>

    <div id="endResultContainer" class="prestartContainer">

        <div id="pagetitle" class="title"> Quiz Results </div>

        <div class="searchResult resultForm">
            <div id="middlePrestart">
                <div class="centerContentPrestart resultLabels">You got</div>
                <div class="centerContentPrestart resultLabels flashcrd resultScore" id="correctAnswers">#</div>
                <div class="centerContentPrestart resultLabels">Would you like to take the <br> quiz again?</div>
            </div>

            <div id="botFinished" class="resultBtnGang">
                <div class="prestartBtnContainer">
                    <a class="searchResult-Btns prestartBtns resultEndBtn" href="/quiz">End</a>
                    <br>
                    <a class="searchResult-Btns prestartBtns" id="tryAgainBtn">Try Again</a>
                </div>
            </div>
        </div>
    </div>


</body>

</html>