<!DOCTYPE html>
<html lang="en">

<head>
    <title>Take Quiz</title>
    <link rel="stylesheet" href="../style/create-quiz.css">
    <link rel="stylesheet" href="../style/answer-quiz.css">
    <link rel="stylesheet" href="../style/navbar.css">
    <link rel="stylesheet" href="../style/add-card.css">
    <link rel="icon" type="image/ico" href="../assets/favico.ico">

    <script src="../js/jquery.min.js"></script>
    <script src="../js/take-quiz.js"></script>

</head>

<body>

    <div class=" navbar sticky">
        <span>
            <a href="/home"> <img src="../assets/Logo.png" class="logo"> </a>
        </span>

        <span class="tab-list">
            <a class="nav-tab" href="/home">Home</a>
            <a class="nav-tab" href="/search">Search</a>
            <a class="nav-tab selected" href="/quizzes">Quiz</a>
            <a class="nav-tab" href="/user">Profile</a>
        </span>
    </div>

    <div class="main-body">

        <div id="preStartContainer" class="prestartContainer">
            <form id="takeQuizForm">
                <div class="searchResult prestartForm">
                    <div id="topPrestart">
                        <div class="searchResultTitle centered" id="qTitle">Title</div>
                        <div class="searchResultUpInfo centered" id="qTubject">Subject</div>
                        <div class="searchResultUpInfo prestartDescrip centered" id="qDescription">Description</div>
                    </div>

                    <div id="middlePrestart">
                        <div id="mid-botContainer">
                            <div class="centerContentPrestart timerLabel">Timer: </div>
                            <input type="number" class="cardTimer" placeholder="0" min="0" max="60" id="timerCount">
                            <div class="centerContentPrestart timerLabel">seconds</div>
                        </div>
                    </div>

                    <div id="botPrestart">
                        <div class="prestartBtnContainer">
                            <a id="pinBtn" class="searchResult-Btns prestartBtns">
                                <span>
                                    <img id="pinIcon" src="../assets/pin.png">
                                </span>
                                Pin Quiz
                            </a>
                            <br>
                            <input type="submit" class="searchResult-Btns prestartBtns" value="Take Quiz"></input>
                        </div>
                        <div class="footerContentPrestart">
                            <div class="footerInfo flashcrd" id="qNumberFlashcards"># Flashcards</div>
                            <div class="footerInfo" id="qAuthor">By: </div>
                        </div>

                    </div>
            </form>
        </div>
    </div>

    <div id="mainQuizContainer">
        <div class="quiz-header">
            <div id="quiz-name">Midterms Review</div>
            <div id="quiz-subject">INTR-OS</div>
            <div id="quiz-author">by Denzel Co</div>
        </div>

        <div class="quiz-area">
            <div id="card-tracker">Question 1/10</div>
            <div class="questions">
                <div class="black-card">
                    <textarea type="text" placeholder="Enter Question Here">What is an operating system?</textarea>
                    <footer>
                        <p>Cards Against Stupidity</p>
                    </footer>
                </div>

                <div class="white-card">
                    <textarea type="text" placeholder="Enter Question Here">Answer Revealed in 10 seconds.</textarea>
                    <footer>
                        <p>Cards Against Stupidity</p>
                    </footer>
                </div>
            </div>

            <div class="response-button">
                <a href="" id="guessed-button">
                    <div id="guessed-icon"></div>
                    <div id="guessed-button-text">I guessed</div>
                </a>

                <a href="/quiz/results_quiz" id="knew-button">
                    <div id="knew-icon"></div>
                    <div id="knew-button-text">I knew it</div>
                </a>
            </div>
        </div>
    </div>
    </div>

</body>

</html>